--extra-index-url https://download.pytorch.org/whl/cu126
audio-separator[gpu]==0.44.3
onnxruntime-gpu>=1.20,<2
pywebview==6.2.1
python-stretch==0.3.1
soundfile==0.14.0
torch==2.13.0+cu126
imageio-ffmpeg==0.6.0
pyinstaller==6.16.0
